---
import { getPostUrlBySlug } from "@utils/url-utils";
import type { BlogPost } from "../lib/ghost";
import PostCard from "./PostCard.astro";

const { page } = Astro.props;

let delay = 0;
const interval = 50;
---
<div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
    {page.data.map((entry: BlogPost) => (
        <PostCard
                entry={entry}
                title={entry.title}
                tags={entry.tags}
                category={entry.primaryTag}
                published={entry.published}
                updated={entry.updated}
                url={getPostUrlBySlug(entry.slug)}
                authors={entry.authors}
                image={entry.featureImage}
                description={entry.excerpt}
                readingTime={entry.readingTime}
                class:list="onload-animation"
                style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
        ></PostCard>
    ))}
</div>
